@import "tailwindcss";


/* Fondo de Ingeniería (Grid Pattern) */
.bg-grid-slate {
    background-size: 40px 40px;
    background-image: linear-gradient(to right, #e2e8f0 1px, transparent 1px),
        linear-gradient(to bottom, #e2e8f0 1px, transparent 1px);
    mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
}

/* Versión oscura para el Hero/Footer */
.bg-grid-white {
    background-size: 40px 40px;
    background-image: linear-gradient(to right,
            rgba(255, 255, 255, 0.05) 1px,
            transparent 1px),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
}